button,
.button {
  @extend .h4;
  height: 2.26em;
  width: auto;
  line-height: 2.26em;
  display: block;
  border: 0;

  text-align: center;

  background-color: $button-bg;
  color: $button-text-color;

  &.full-width {
    width: 100%;
  }

  &:not(.full-width) {
    padding: 0 3em;
  }

  &:hover {
    background-color: $button-hover-bg;
    color: $button-hover-text-color;
    text-decoration: none;
  }
}