header {
  height: $header-height;
  width: 100%;

  .logo {
    height: $header-height;

    @include transform(translate(-50%));
  }

  @media(max-width: $screen-xs-max)
  {
    height: $header-height-slim;

    .logo {
      height: $header-height-slim;
    }
  }
}