.section {
  padding-top: $grid-gutter-width;
  @media(max-width: $screen-xs-max) {
    padding-top: $grid-gutter-width / 2;
  }
}

#content {
  min-height: 100%;
  @extend .clear-fix;
  background: url('/images/common/marble-bg.jpg') center top repeat-y;
  background-size: 100% auto;
}