@mixin background-image($position, $repeat, $size) {
  background-position: $position;
  background-repeat: $repeat;
  -webkit-background-size: $size;
  background-size: $size;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin container() {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;

  @media(min-width: $screen-sm) {width: $container-sm}

  @media(min-width: $screen-md) {width: $container-md}

  @media(min-width: $screen-lg) {width: $container-lg}
}

@mixin vertical-align-text() {
  // Vertical-align siblings
  &:after {
    content: "";
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-left: -3px;
  }
}

@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

@mixin background-image-retina($file, $type, $width: auto, $height: auto) {
  background-image: url($file + '.' + $type);
  -webkit-background-size: $width $height;
  background-size: $width $height;
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      background-size: $width $height;
    }
  }
}