// Color
$brand-primary:           #1D2D6C;
$brand-primary-light:     #485988;
$brand-primary-lighter:   #CDD7F4;
$brand-primary-lightest:  #F5F7FD;
$brand-secondary:         #8DC82F;
$brand-secondary-dark:    #6D9B31;
$brand-secondary-light:   #CBE4A6;
$brand-gray:              #E5E5E5;
$brand-gray-dark:         #404040;
$brand-gray-light:        #FAFAFA;
$brand-black:             $brand-gray-dark;

$brand-success:           #4F6282;
$brand-danger:            #BC190D;

$link-color:         $brand-primary;
$link-hover-color:   $brand-primary;
$link-hover-decoration: underline;

$hr-color:                $brand-gray;

$button-bg:               $brand-gray-dark;
$button-text-color:       $brand-gray;
$button-hover-bg:         $brand-gray-dark;
$button-hover-text-color: $brand-primary;

$link-color:              $brand-secondary;
$link-hover-color:        $brand-secondary-dark;
$link-hover-decoration:   none;
$link-weight:             600;

$text-color:              $brand-gray-dark;
$header-color:            $brand-gray-dark;

// Fonts
$font-primary:   Helvetica, Arial, sans-serif;
$font-secondary: Cambria, Georgia, serif;

// Headings
$font-family-h1:  $font-primary;
$font-size-h1:    3em;
$font-weight-h1:  400;

$font-family-h2:  $font-secondary;
$font-size-h2:    2em;
$font-weight-h2:  200;

$font-family-h3:  $font-primary;
$font-size-h3:    1.3em;
$font-weight-h3:  400;

$font-family-h4:  $font-primary;
$font-size-h4:    1em;
$font-weight-h4:  600;

$headings-line-height: 1.8;

// Base
$body-bg: white;
$font-family-base: $font-primary;
$font-weight-base: 200;
$font-size-base:   14px;
$line-height-base: 1.6;
$line-height-computed: $font-size-base / ($line-height-base / 2);

// Header
$header-height: 112px;
$header-height-slim: 70px;
$header-background-color: transparent;
$mobile-header-background-color: transparentize($brand-primary, .2);

// Navigation
$nav-mobile-width: 220px;
$nav-link-color: white;
$nav-active-color: $brand-secondary;

/// Bootstrap
// Breakpoints
$screen-xs:                  480px !default
$screen-xs-min:              $screen-xs !default
$screen-phone:               $screen-xs-min !default

$screen-sm:                  768px !default
$screen-sm-min:              $screen-sm !default
$screen-tablet:              $screen-sm-min !default

$screen-md:                  992px !default
$screen-md-min:              $screen-md !default
$screen-desktop:             $screen-md-min !default

$screen-lg:                  1280px !default
$screen-lg-min:              $screen-lg !default
$screen-lg-desktop:          $screen-lg-min !default

$screen-xl:                  1600px !default
$screen-xl-min:              $screen-xl !default
$screen-xl-desktop:          $screen-xl-min !default

$screen-xs-max:              ($screen-sm-min - 1) !default
$screen-sm-max:              ($screen-md-min - 1) !default
$screen-md-max:              ($screen-lg-min - 1) !default

$mobile-max: $screen-sm-max;
$desktop-min: $screen-md-min;

$breakpoints: (
        xs: 300px,
        sm: $screen-sm,
        md: $screen-md,
        lg: $screen-lg,
        xl: $screen-xl
);

// Grid
$grid-columns:              12 !default
$grid-gutter-width:         30px !default
$grid-float-breakpoint:     $screen-sm-min !default
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default

// Container
$container-tablet:             (720px + $grid-gutter-width) !default
$container-sm:                 $container-tablet !default
$container-desktop:            (940px + $grid-gutter-width) !default
$container-md:                 $container-desktop !default
$container-large-desktop:      (1140px + $grid-gutter-width) !default
$container-lg:                 $container-large-desktop !default