// Color
$brand-primary:         #4F6282;
$brand-primary-light:   #D7E2F5;
$brand-secondary:       #483C27;
$brand-secondary-light: #ECD49D;
$brand-gray-dark:       #393D4D;
$brand-gray:            #C7CDC9;

$brand-success: #4F6282;
$brand-danger:  #BF544D;

$text-color:        $brand-gray-dark;
$header-color:      $brand-gray-dark;

$link-color:         $brand-primary;
$link-hover-color:   $brand-primary;
$link-hover-decoration: underline;

$hr-color: $brand-gray;

$button-bg:               $brand-gray-dark;
$button-text-color:       $brand-gray;
$button-hover-bg:         $brand-gray-dark;
$button-hover-text-color: $brand-primary;

// Fonts
$font-primary:   Helvetica, Arial, sans-serif;
$font-secondary: Cambria, Georgia, serif;

// Headings
$font-family-h1:  $font-primary;
$font-size-h1:    2.7em;
$font-weight-h1:  700;

$font-family-h2:  $font-secondary;
$font-size-h2:    1.6em;
$font-weight-h2:  400;

$font-family-h3:  $font-primary;
$font-size-h3:    1.3em;
$font-weight-h3:  700;

$font-family-h4:  $font-primary;
$font-size-h4:    1.3em;
$font-weight-h4:  100;

$headings-line-height: 1.8;

// Base
$body-bg: white;
$font-family-base: $font-primary;
$font-weight-base: 100;
$font-size-base:   14px;
$line-height-base: 1.4;
$line-height-computed: $font-size-base / ($line-height-base / 2);

// Header
$header-height: 170px;
$header-height-slim: 42px;
$header-background-color: black;

// Navigation
$nav-mobile-width: 220px;

/// Bootstrap
// Breakpoints
$screen-xs:                  480px !default
$screen-xs-min:              $screen-xs !default
$screen-phone:               $screen-xs-min !default

$screen-sm:                  768px !default
$screen-sm-min:              $screen-sm !default
$screen-tablet:              $screen-sm-min !default

$screen-md:                  992px !default
$screen-md-min:              $screen-md !default
$screen-desktop:             $screen-md-min !default

$screen-lg:                  1200px !default
$screen-lg-min:              $screen-lg !default
$screen-lg-desktop:          $screen-lg-min !default

$screen-xs-max:              ($screen-sm-min - 1) !default
$screen-sm-max:              ($screen-md-min - 1) !default
$screen-md-max:              ($screen-lg-min - 1) !default

// Grid
$grid-columns:              12 !default
$grid-gutter-width:         30px !default
$grid-float-breakpoint:     $screen-sm-min !default
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default

// Container
$container-tablet:             (720px + $grid-gutter-width) !default
$container-sm:                 $container-tablet !default
$container-desktop:            (940px + $grid-gutter-width) !default
$container-md:                 $container-desktop !default
$container-large-desktop:      (1140px + $grid-gutter-width) !default
$container-lg:                 $container-large-desktop !default